<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dashboard.fwd.service.TestMapper">
	<select id = "returnGochangData" resultType="map">
 		SELECT DATA_NO,
 				EQUIPMENT_NAME,
 				FILE_NAME,
 				FILE_DT,
 				FILE_TIME,
 				PD,
 				NOISE,
 				TIME_DUR,
 				PULSE_TAN,
 				PULSE_AREA,
 				STAN_DEVI,
 				FORCE_1,
 				FORCE_2,
 				FORCE_3,
 				FORCE_4,
 				QMMAX,
 				PPS,
 				MAXMV
 		FROM tb_gochang_data_tp
	</select>

</mapper>